version: '3.7'

services:
  swagger:
    container_name: mern_swagger
    build:
      context: './swagger/'
    volumes:
      - ./code/swagger/openapi.yaml:/usr/share/nginx/html/openapi.yaml
      - ./swagger/openapi.html:/usr/share/nginx/html/openapi.html
    ports:
      - 8080:8080
  mongodb:
    container_name: mern_mongodb
    image: mongo
    ports:
      - "27017:27017"
  backend:
    build: ./backend/
    ports:
      - "6200:6200"
    volumes:
      - ./backend:/usr/src/app
    depends_on:
      - mongodb
  frontend:
    build: ./frontend/
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/usr/src/app
    depends_on:
      - backend
    