version: '3.7'

services:
  swagger:
    container_name: mern_swagger
    build:
      context: './swagger/'
    volumes:
      - ./swagger/openapi.yaml:/usr/share/nginx/html/openapi.yaml
      - ./swagger/openapi.html:/usr/share/nginx/html/openapi.html
    ports:
      - 8080:8080
  mongodb:
    container_name: mern_mongodb
    image: mongo
    ports:
      - "27017:27017"
  node-backend:
    build: ./node-backend/
    ports:
      - "6200:6200"
    volumes:
      - ./node-backend:/usr/src/app
    depends_on:
      - mongodb
  react-frontend:
    build: ./react-frontend/
    ports:
      - "3000:3000"
    volumes:
      - ./react-frontend:/usr/src/app
    depends_on:
      - node-backend
    